* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.navbar-brand {
  background-clip: text;
  background-image: linear-gradient(to right,
      #e67e22,
      #fa811e,
      #4402cf,
      #4402cf,
      #ff0080,
      #e84393,
      #fa811e);
  -webkit-text-fill-color: transparent;
  color: #ff0080;
    font-family: "Monoton", cursive;
}

.nav-item-link {
  font-size: 20px;
  color: #000;
  font-family: "El Messiri", sans-serif;
}

.nav-item-link:hover {
  color: white;
}

.page-header {
  margin-top: 12%;
}

body {
  background: rgb(14, 30, 37);
  color: rgb(242, 242, 242);
  font-family: "El Messiri", sans-serif;
}

.pagination > li > a {
  background-color: #5bc0de;
  color: #000;
  margin-top: 20px;
  padding: 0.7em;
}
.pagination > li > a:focus,
.pagination > li > a:hover,
.pagination > li > span:focus,
.pagination > li > span:hover {
  color: #000;
  background-color: #fff;
  border-color: #ddd;
}
